* {
	margin:  5px;
	padding:  5px;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

body {
    font-family: 'Gaegu', cursive;
    font-display: swap; /* 폰트가 준비되지 않은 경우 대체 폰트를 사용하고 준비되면 교체 */

	transition: background 500ms ease;
	color: darkcyan;
	background-color: ivory; /* 원하는 배경색으로 변경 */
}




p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}
.cursive {
	font-family: cursive;
	font-size: 80px;
}


/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/